.flex_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}